venv/
__pycache__/
virality_index/
*.pkl
*.ipynb
*.json
getter_trials.py
ENV_VAR.py
iter.py
output.txt
temp_usernames.json
praw.ini
Reddit_var.py
Useful_snippets.py
to_implement.md
Useful_snippets.py
checker.py
.env


